/*---------- GLOBAL ---------------*/
body {
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#main-container {
  width: 100%;
}

.wrapper {
  width: 100%; /* IE */
  max-width: 1200px;
  margin: 0 auto;
}

.uppercase{
  text-transform: uppercase;
}

/*---------- NAVIGATION -----------*/

.navbar-brand {
  padding: 0;
  height: auto;
}

.head-logo {
  width: 330px;
  height: 90px;
  background: #fff url('../img/kcg-head-logo.png') no-repeat center;
  background-size: contain;
}

.navbar {
  border: none;
}

.navbar.navbar-default {
  border: none;
  background-color: #fff;
}

.navbar-toggle {
  margin-top: 27px;
}

ul.menubar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul.menubar-head {
  margin-top: 38px;
}

ul.menubar.menubar-head li {
  display: inline;
  font-size: 13px;
  padding: 0 0 0 12px;
}

ul.menubar.menubar-head li a {
  color: #7C79A4;
  text-transform: uppercase;
  font-weight: 300;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
  ul.menubar-head {
    margin-top: 20px;
  }

  ul.menubar.menubar-head li {
    display: list-item;
    list-style: none;
    padding: 10px 0 0 0;
  }
}

.flag-en{
  width: 17px;
  height: 13px;
  background: url('../img/KCG_website_flag_en.jpg') no-repeat center;
}

.flag-fr{
  width: 20px;
  height: 13px;
  background: url('../img/KCG_website_flag_fr.jpg') no-repeat center;
}

html[data-useragent*='MSIE 9.0'] ul.menubar.menubar-head li {
  font-size: 12px;
}

html[data-useragent*='MSIE 10.0'] ul.menubar.menubar-head li {
  font-size: 12px;
}

html[data-useragent*='rv:11.0'] ul.menubar.menubar-head li {
  font-size: 12px;
}

/*------------ HEADING -------------------*/

#page-heading-container {
  width: 100%;
  height: 120px;
  background: #A44762 url('../img/page-heading-title-background.png') no-repeat center;
  background-size: cover;
}

#page-heading-container.slideshow{
  width: 100%;
  height: 470px;
  background: #4F6AF5 url('../img/slideshow-background.png') no-repeat center;
  background-size: cover;
}

#page-heading-container.slideshow-small{
  width: 100%;
  height: 262px;
  background: #4F6AF5 url('../img/slideshow-background.png') no-repeat center;
  background-size: cover;
}

.page-heading-title {
  width: 700px;
  height: 120px;
  margin: 0 auto;
  line-height: 120px;
  text-align: center;
}

.page-heading-title span{
  font-size: 36px;
  font-weight: 100;
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
}

.carousel-control .arrow-left {
  display: inline-block;
  position: relative;
  width: 66px;
  height: 66px;
  top: 200px;
  background: url('../img/slideshow_arrow_lx.png') no-repeat center;
}

.carousel-control .arrow-right {
  display: inline-block;
  position: relative;
  width: 66px;
  height: 66px;
  top: 200px;
  background: url('../img/slideshow_arrow_rx.png') no-repeat center;
}

/*------------ FOOTER -------------------*/

#page-footer-container {
  width: 100%;
  background-color: #3A3E5B;
}

.footer-logo {
  width: 265px;
  height: 113px;
  background: url('../img/kcg-footer-logo.png') no-repeat center;
}

.footer {
  width: 100%;
  padding: 40px 0 0 0;
  font-weight: 300;
}

.footer .info-and-logo .footer-logo-divider {
  width: 265px;
}

#page-footer-container hr {
  height: 1px;
  border: none;
  background-color: #81828a;
}

.footer h2 {
  font-size: 26px;
  font-weight: 100;
  margin-top: 0;
  color: #609ca7;
  text-transform: uppercase;
}

.footer .info-and-logo {
  font-size: 16px;
  font-weight: 100;
  color: #81828a;
}

.footer .contacts {
  font-size: 15px;
  font-weight: 100;
  color: #aaabb2;
}

.footer .contacts a {
  color: #aaabb2;
}

.footer .other {
  font-size: 13px;
  color: #aaabb2
}

.footer-breadcrumbs {
  font-size: 15px;
  font-weight: 300;
  color: #609ca7;
}

.footer-breadcrumbs a {
  color: #aaabb2;
}

.footer-breadcrumbs span {
  margin-left: 15px;
}

.footer-copyright {
  font-size: 15px;
  font-weight: 300;
  color: #65666e;
  margin-bottom: 20px;
}

.linkedin-ico {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  top: 16px;
  margin-left: 15px;
  background: url('../img/linkedin-ico.png') no-repeat top;
}

/*------------ CONTENT -------------------*/

#page-body-container {
  width: 100%;
  min-height: 500px;
}

#page-body-container.content-background-color {
  background-color: #F0F4F7;
}

.page-wrapper-padding {
  padding: 60px 0;
}

.page-content {
  color: #5c628c;
  font-weight: 100;
}

.page-content.creation-box {
  padding-top: 210px;
  text-align: center;
  background: url('../img/creation-box-logo.png') center top no-repeat;
  cursor: pointer;
}

.page-content.creation-box:hover {
  background: url('../img/creation-box-logo-hover.png') center top no-repeat;
}

.page-content.development-box {
  padding-top: 210px;
  text-align: center;
  background: url('../img/development-box-logo.png') center top no-repeat;
  cursor: pointer;
}

.page-content.development-box:hover {
  background: url('../img/development-box-logo-hover.png') center top no-repeat;
}

.page-content.recovery-box {
  padding-top: 210px;
  text-align: center;
  background: url('../img/recovery-box-logo.png') center top no-repeat;
  cursor: pointer;
}

.page-content.recovery-box:hover {
  background: url('../img/recovery-box-logo-hover.png') center top no-repeat;
}

.page-content.transmission-box {
  padding-top: 210px;
  text-align: center;
  background: url('../img/transmission-box-logo.png') center top no-repeat;
  cursor: pointer;
}

.page-content.transmission-box:hover {
  background: url('../img/transmission-box-logo-hover.png') center top no-repeat;
}

.page-content.procedures-box {
  padding-top: 210px;
  text-align: center;
  background: url('../img/gears-box-logo.png') center top no-repeat;
  cursor: pointer;
}

.page-content.procedures-box:hover {
  background: url('../img/gears-box-logo-hover.png') center top no-repeat;
}

.page-content-title {
  font-size: 20px;
  text-transform: uppercase;
}

.page-content-paragraph {
  font-size: 16px;
  padding-top: 20px;
}

.page-heading > h1{
  font-size: 26px;
  font-weight: 100;
  line-height: 48px;
  color: #5DBED1;
  text-transform: uppercase;
}

.page-content > h1{
  font-size: 26px;
  font-weight: 100;
  line-height: 48px;
  color: #5DBED1;
  text-transform: uppercase;
}

.page-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-content ul li {
  background-image: url('../img/li-ico-36x36.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 50px;
  line-height: 20px;
  padding-bottom: 30px;
  padding-top: 8px;
}

.page-heading.creation-ico {
  height:48px;
  background: url('../img/creation-ico-48x48.png') no-repeat center left;
  padding-left: 58px;
}

.page-heading.development-ico {
  height:48px;
  background: url('../img/development-ico-48x48.png') no-repeat center left;
  padding-left: 58px;
}

.page-heading.recovery-ico {
  height:48px;
  background: url('../img/recovery-ico-48x48.png') no-repeat center left;
  padding-left: 58px;
}

.page-heading.transmission-ico {
  height:48px;
  background: url('../img/transmission-ico-48x48.png') no-repeat center left;
  padding-left: 58px;
}

.page-heading.gear-ico {
  height:48px;
  background: url('../img/gear-ico-48x48.png') no-repeat center left;
  padding-left: 58px;
}

.page-heading.background-image-1 {
  width: 100%;
  height: 210px;
  background: url('../img/page-heading-background-1.png') no-repeat center left;
}

.page-heading.background-image-2 {
  width: 100%;
  height: 230px;
  background: url('../img/page-heading-background-2.png') no-repeat center left;
}

.page-heading.background-image-2.righ-column {
  background-position: right
}

.page-divider hr {
  height: 1px;
  color: #FFF;
  background-color: #FFF;
  border: 1px solid #D0D0D0;
  border-left: none;
  border-right: none;
}

.page-heading.accordion {
  cursor: pointer;
  background: url('../img/arrow_dx.png') no-repeat top left;
  padding-left: 58px;
}

/*------------ For Mobile -------------------*/

@media (min-width: 1200px) {
  .col-lg-3.five-columns {
    width: 20% !important;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
    overflow: hidden;
  }
  .page-wrapper-padding {
    padding: 60px 20px;
  }

  .page-heading-title {
    width: 100%;
  }

  .background-image-1, .background-image-2 {
    display: none;
  }

  .head-logo {
    width: 260px;
  }

  ul.menubar.menubar-head li {
    font-size: 11px;
    padding: 0 0 10px 10px;
  }

  .info-and-logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  ul.menubar.menubar-head li {
    display: list-item;
    font-size: 13px;
    padding: 0 0 10px 10px;
  }

  .carousel-control .arrow-left, .carousel-control .arrow-right {
    top: 100px;
  }

  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}
