<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_title }}</title>

    <meta name="description" content="Koener Consulting Group (KCG) est une entreprise de conseil et d’assistance pour les petites et moyennes entreprises (PME) luxembourgeoises et internationales.">
    <meta name="robots" content="index, follow, noarchive" />

    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{{ statics_url }}/css/main.css" />
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{ statics_url }}/css/ie.css" />
    <![endif]-->
  </head>
  <body class="{{ page_title_slug }}">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-19082751-10', 'auto');
    ga('send', 'pageview');

  </script>

  <div id="main-container">

    <div class="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{prefix_path}}/index.html">
              <div class="head-logo"></div>
            </a>
          </div><!-- /.navbar-header -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            {{ website_heading_navigation }}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div> <!-- /Header-Menu -->

    <div id="page-heading-container">
      <div class='page-heading-title hidden'><span>{{ page_title }}</span></div>
      <div id="page-images" class="hidden">{{ page_images }}</div>
    </div><!-- /#page-heading-container -->

    <div id="page-body-container">
      <div class="wrapper page-wrapper-padding">
        {{ page_body }}
      </div>
    </div><!-- /#page-body-container -->

    <div id="page-footer-container">
      <div class="wrapper">
        <div class="footer">
          <div class="row">

            <div class="col-lg-4 info-and-logo">
              <div class="footer-logo"></div>
            </div>

            <div class="col-lg-3 col-lg-offset-1 contacts">
              <h2>contactez-nous</h2>
              <p>
                {{ entity_street }}<br>
                {{ entity_postal_code }}
                {{ entity_city }}<br>
                {{ entity_country_name }}
              </p>
            </div>

            <div class="col-lg-4 contacts">
              <h2>&nbsp;</h2>
              <p>Tél.: {{ entity_phone }}
              <br>
                <a href="mailto:{{ entity_email }}" title="email">{{ entity_email }}</a><br>
                <a href="http://{{ entity_website }}" title="website">{{ entity_website }}</a>
              </p>
            </div>
          </div><!-- /First row -->
        </div><!-- /.footer -->
      </div><!-- /.wrapper -->
      <hr>
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-3">
            <span class="footer-copyright">Conseils en entreprises pour TPE et PME</span>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <div class="footer-breadcrumbs hidden">
              <a href="{{ prefix_path }}/index.html">Home</a>
              <span>&gt;</span>
              <a href="{{ prefix_path }}/{{ page_filename }}">{{ page_title }}</a>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-copyright">
              <span class="glyphicon glyphicon-copyright-mark"></span>
              <span>2014 KCG Tous les droits réservés</span>
            </div>
          </div>
        </div><!-- /Second row -->
      </div><!-- /.wrapper -->
    </div><!-- /#page-footer-container -->

  </div><!-- /.main-container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ statics_url }}/js/main.js"></script>
  </body>
</html>
