#slider {
  height: 540px;
}

.carousel-inner {
  height: 540px;
}

.carousel-inner .item {
  height: 540px;
  width: 1000px;
  background-position: center center;
  background-size: cover;
}

.carousel-indicators {
  bottom: 90px;
}

.carousel-indicators li {
  margin: 0 4px 0 4px !important;
  height: 22px;
  width: 22px;
  border: 4px solid rgba(255, 255, 255, 1);
}

.carousel-indicators li.active {
  height: 22px;
  width: 22px;
  border: 4px solid rgba(255, 255, 255, 1);
  background: rgba(77, 191, 233, 1);
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  height: 80px;
  width: 1000px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0;
  line-height: 80px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
}

.carousel-caption span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 30px 0 30px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
}