<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ PAGE_TITLE }}</title>
    <link rel="stylesheet" type="text/css" href="{{ statics_url }}/css/layout.css" />
  </head>
  <body>
    <div class="container">
      <div class="arrow left hidden"></div>
      <div class="arrow right hidden"></div>

      <div class="wrapper">
        <div class="left-column float-left">
          <div class="navigation side">
            {{ website_side_navigation }}
          </div><!-- /.navigation.side -->
        </div><!-- /.left-column -->

        <div class="right-column float-left">
          <div class="navigation top">
            {{ website_heading_navigation }}
          </div><!-- /.navigation.top -->
          <div class="page-box-container">
            <div class="box-content box-content-news">
              <div class="row">
                <h2>{{ news_title }}</h2>
                <div class="news-box">
                  {{ news_body }}
                </div>
                <div class="float-right"></div>
              </div>
            </div>
          </div><!-- /.page-box-container -->
        </div><!-- /.right-column -->

        <div class="clear"></div>

        <div id="background-images" class="hidden">
          {{ page_images }}
        </div>
        <div id="news-list" class="hidden">
          {{ news_list }}
        </div>
      </div><!-- /.wrapper -->
    </div><!-- /.container -->

    <div id="slides"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript">var STATIC_URL = "{{ statics_url }}"</script>
    <script src="{{ statics_url }}/js/sizeit.min.js"></script>
    <script src="{{ statics_url }}/js/main.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.box-content-news .row div p img').appendTo('.box-content-news .float-right');
      });
    </script>
  </body>
</html>
