<!DOCTYPE html>
<!--[if lt IE 7]> <html data-color="#07abef" class="no-js ie6 oldie btn-square btn-normal blank-false" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html data-color="#07abef" class="no-js ie7 oldie btn-square btn-normal blank-false" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html data-color="#07abef" class="no-js ie8 oldie btn-square btn-normal blank-false" lang="en-US"> <![endif]-->
<!--[if IE 9]>    <html data-color="#07abef" class="no-js ie9 oldie btn-square btn-normal blank-false" lang="en-US"> <![endif]-->
<!--[if gt IE 9]><!-->
<html data-color="#07abef" class="no-js btn-square btn-normal blank-false" lang="en-US">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="pingback" href="http://project2.atlas.getorkestra.com/xmlrpc.php">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>
        {{ page_title }}
    </title>
    <meta name='robots' content='noindex,follow'>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel='stylesheet' id='js_composer_front-css' href='{{ statics_url }}/css/jscomposer.css' type='text/css' media='all'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ statics_url }}/css/main.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ statics_url }}/css/styles.css" type="text/css" media="screen">
    <script type='text/javascript' src='{{ statics_url }}/js/jquery.js'></script>
    <script type='text/javascript' src='{{ statics_url }}/js/jquery.migrate.js'></script>
    <script type='text/javascript' src='{{ statics_url }}/js/themepunch.js'></script>
    <script type='text/javascript' src='{{ statics_url }}/js/revolution.js'></script>
    <script type='text/javascript' src='{{ statics_url }}/js/modernizr.js'></script>
  </head>
  <body class="page page-template-default wpb-js-composer js-comp-ver-4.3.4 vc_responsive">
    <div id="gen-wrap">
      <div id="wrap" class="nz-wide">
        <header class="header mob-header mob-height-90 mob-int-false mob-sidebar-false mob-search-false mob-ls-false">
          <div class="logo-toggle">
            <div class="container nz-clearfix">
              <div class="logo logo-mob">
                <a href="{{website_home_url}}" title="{{website_title}}"><img class="retina" src="{{website_logo_url}}" alt="{{website_title}}"></a>
              </div>
              <div class="sidebar-toggle" title="Open sidebar">
                <span>&nbsp;</span> <span>&nbsp;</span> <span>&nbsp;</span>
              </div>
              <div class="menu-toggle" title="Toggle menu">
                <span>&nbsp;</span> <span>&nbsp;</span> <span>&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="header-content">
            <nav class="header-menu mob-menu nz-clearfix">
              {{website_heading_navigation}}
            </nav>
          </div>
        </header>
        <header class="header desk desk-height-120 desk-sl-true desk-sl-align-right desk-ls-false desk-di-true desk-fixed-false fixed-height-90 stuck-height-90 stuck-false effect-none sub-effect-fade desk-sidebar-false top-true stuck-top-false">
          <div class="header-top">
            <div class="container nz-clearfix">
              <div class="social-links nz-clearfix"></div>
            </div>
          </div>
          <div class="header-content">
            <div class="container nz-clearfix">
              <div class="header-cont">
                <div class="logo logo-desk">
                  <a href="{{website_home_url}}" title="{{website_title}}"><img class="retina" src="{{website_logo_url}}" alt="{{website_title}}"></a>
                </div>
                <div class="logo logo-fixed">
                  <a href="{{website_home_url}}" title="{{website_title}}"><img class="retina" src="{{website_logo_url}}" alt="{{website_title}}"></a>
                </div>
                <div class="logo logo-stuck">
                  <a href="{{website_home_url}}" title="{{website_title}}"><img class="retina" src="{{website_logo_url}}" alt="{{website_title}}"></a>
                </div>
                <div class="sidebar-toggle" title="Open sidebar">
                  <span>&nbsp;</span> <span>&nbsp;</span> <span>&nbsp;</span>
                </div>
                <nav class="header-menu desk-menu nz-clearfix">
                  {{website_heading_navigation}}
                </nav>
              </div>
            </div>
          </div>
        </header>
        <div class='blog-layout-wrap'>
          <div class='container page-standard-width'>
            <div class='content nz-clearfix padding-true'>
              <div id="post-2" class="post-2 page type-page status-publish hentry">
                <section class="page-content nz-clearfix">
                  {{ page_body }}
                </section>
              </div>
            </div>
          </div>
        </div>
        <footer class='footer'>
          <div class="container nz-clearfix">
            <br />
            {{website_footer_navigation}}
          </div>
          <div class="footer-content">
            <div class="container nz-clearfix"></div>
          </div>
        </footer>
      </div>
    </div>
    <a class="icon-arrow-up2" id="top" href="#wrap"></a>
    <script type='text/javascript' src='{{ statics_url }}/js/plugins.js'></script>
    <script type='text/javascript' src='{{ statics_url }}/js/main.js'></script>
  </body>
</html>