@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.facebook {
  position: relative;
  top: 2px;
}

.container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#slides{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#slides div{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: left;
}

.wrapper{
  width: 910px;
  margin: 0 auto;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clear{
  clear: both;
}

.hidden{
  display: none;
}

.uppercase{
  text-transform: uppercase;
}

.arrow{
  width: 31px;
  height: 68px;
  position: fixed;
  top:45%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.arrow.left{
  left:3%;
  background-image: url('../img/arrow_left.png');
}

.arrow.right{
  right:3%;
  background-image: url('../img/arrow_right.png');
}

/*-------------- .navigation ----------------*/
.navigation{
  text-transform: uppercase;
}

.navigation.news{
  text-transform: none;
}

.navigation ul li.active > a{
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 1.5;
}

.navigation .image-details{
  text-transform: none;
  padding: 0 30px 0 10px;
}

/*-------------- .navigation.top ----------------*/
.navigation.top{
  width: 100%;
  height: 93px;
}

.navigation.top > .menubar{
  padding-top: 40px;
}

.navigation.top ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.navigation.top ul li{
  display: inline;
  font-size: 13px;
  padding: 0 0 0 20px;
}

.navigation.top ul li a{
  color: #000;
}


/*-------------- .navigation.side ----------------*/
.navigation.side{
  width: 230px;
}

.navigation.side ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation.side ul li{
  margin: 0 0 8px 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.navigation.side ul.dropdown-menu.news {
  text-transform: none;
  padding: 0 10px 0 0;
}

.navigation.side ul.dropdown-menu li{
  padding-left: 18px;
  padding-right: 10px;
}

.navigation.side li.dropdown{
  margin: 0 0 8px 0;
  background-color: #000;
  color: #fff;
}

.navigation.side ul li a{
  color: #fff;
  border: none !important;
}

.list-item {
  border: none !important;
}

.list-item img {
  border: none !important;
}

.list-item img a {
  border: none !important;
}

.navigation > .menubar-side > .list-item a {
  border: none !important;
}

.navigation > .menubar-side > .list-item {
  height: 85px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border: none !important;
}

ul.dropdown-menu {
  display: none;
}

.image-counter {
  margin: 0 16px 0 0;
}

/*-------------- .page-box-container ----------------*/
.page-box-container{
  width: 670px;
}

.page-box-container > .box-content{
  height: 485px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 8px;
  padding: 20px;

/*
  height: 300px !important;
  margin-top: 186px !important;*/
}

.box-content .page-heading{
  text-transform: uppercase;
}

body.news .box-content {
  height: 300px !important;
  margin-top: 186px !important;
}

body.news .box-content img {
  float: right;
  margin: 0 0 0 15px;
}

.page-content a{
  color: #000;
}

.row {
  width: 100%;
}

.col-lg-6, .col-lg-3 {
  float: left;
}

.col-lg-6 {
  width: 130px;
}

.col-lg-3 {
  width: 235px;
}

.box-content .map {
  padding-left: 25px;
}

.box-content .map img {
  position: relative;
  top: -43px;
}

.brand_image {
  margin-right: 20px;
  border: none !important;
}

/*-------------- news-box -------------*/

.news-box {
  float: left;
  width: 400px;
  margin: -12px 15px 0 0;
}

.news-list-container {
  overflow: hidden;
  height: 150px;
}

.news-list-wrapper{
  position:relative;
}

.arrow-news{
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.arrow-news.up{
  background: url('../img/arrow_up.png') no-repeat 18px 0px;
}

.arrow-news.down{
  background: url('../img/arrow_down.png') no-repeat 18px 12px;
}
