body {
  overflow: visible;
}

.img-mini{
  width: 100%;
  height: 340px;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrow {
  display: none;
}

.wrapper {
  width: 100%;
  margin-left: 2%;
}

.left-column {
  width: 96%;
  margin: auto;
}

.right-column {
  width: 96%;
  margin: auto;
}

.navigation.side {
  width: 100%;
}

.page-box-container{
  width: 100%;
}

.page-box-container > .box-content{
  height: auto;
  color: #000;
  background-color: #fff;
}

.navigation.side ul li > .page-box-container {
  background-color: #fff;
}

.facebook {
  display: none;
}
