h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 54, 131, 1);
}

.blue-background {
  margin: 20px 0 0 0;
  background: rgba(0, 54, 131, 1);
  color: rgba(255, 255, 255, 1) !important;
  padding: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.light-blue-background {
  margin: 20px 0 0 0;
  background: rgba(0, 54, 131, 0.6);
  color: rgba(255, 255, 255, 1) !important;
  padding: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

ul.menubar > li.active a {
  font-weight: bold !important;
}

.border-grey-left-line {
  border-left: 1px solid rgba(138, 146, 152, 1);
  padding-left: 20px;
}

.border-grey-right-line {
  border-right: 1px solid rgba(138, 146, 152, 1);
  padding-right: 20px;
}

.border-grey-right {
  padding-top: 20px;
  border-right: 20px solid rgba(167, 178, 185, 1);
  background: rgba(255, 255, 255, 1);
}

.border-grey-bottom {
  border-bottom: 20px solid rgba(167, 178, 185, 1);
  border-right: 20px solid rgba(167, 178, 185, 1);
  padding-bottom: 20px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 1) url('../img/grey_corner.png') no-repeat right bottom;
}

.border-green-right {
  padding-top: 20px;
  border-right: 20px solid rgba(0, 116, 41, 1);
  background: rgba(255, 255, 255, 1);
}

.border-green-bottom {
  border-bottom: 20px solid rgba(0, 116, 41, 1);
  border-right: 20px solid rgba(0, 116, 41, 1);
  padding-bottom: 20px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 1) url('../img/green_corner.png') no-repeat right bottom;
}

.border-yellow-right {
  padding-top: 20px;
  border-right: 20px solid rgba(241, 180, 0, 1);
  background: rgba(255, 255, 255, 1);
}

.border-yellow-bottom {
  border-bottom: 20px solid rgba(241, 180, 0, 1);
  border-right: 20px solid rgba(241, 180, 0, 1);
  padding-bottom: 20px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 1) url('../img/yello_corner.png') no-repeat right bottom;
}

.rounded-image img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}