<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_title }}</title>

    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ statics_url }}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ statics_url }}/css/slider.css" />
  </head>
  <body>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics_id }}', 'auto');
      ga('send', 'pageview');

    </script>

    <header class="header">
      <div class="wrapper simple hidden-sm hidden-xs">
        <div class="logo">
          <a href="./"><img src="{{ statics_url }}/img/logo.png" width="280" height="114" alt="Reuters Industrial" title="Reuters Industrial" /></a>
        </div>
        <nav class="navigation">
          {{ website_heading_navigation }}
        </nav>
      </div>

      <div class="fixed hidden-sm hidden-xs">
        <div class="wrapper">
          <div class="logo">
            <a href="./"><img src="{{ statics_url }}/img/logo_fixed.png" width="177" height="57" alt="Reuters Industrial" title="Reuters Industrial" /></a>
          </div>
          <nav class="navigation">
            {{ website_heading_navigation }}
            <div class="clearfix" />
          </nav>
        </div>
      </div>

      <div class="wrapper hidden-sm hidden-xs">
        <div id="slider" class="carousel slide">
          <ol class="carousel-indicators">
          </ol>
          <div class="carousel-inner">
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

      <div class="wrapper small visible-sm visible-xs">
        <div class="logo">
          <a href="./"><img src="{{ statics_url }}/img/logo.png" width="353" height="114" alt="Reuters Industrial" title="Reuters Industrial" /></a>
        </div>
        <nav class="navigation">
          {{ website_heading_navigation }}
        </nav>
      </div>
    </header>

    <article>
      <div class="wrapper">
        {{ page_body }}
      </div>
    </article>

    <footer>
      <div class="wrapper">
        <div class="legal">
          &copy; Reuters Industrial Sàrl 2014 All rights reserved
        </div>
        <div class="footer-navigation hidden-sm hidden-xs">
          {{ website_footer_navigation }}
        </div>
      </div>
    </footer>

    <div id="background-images" class="hidden">
      {{ page_images }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ statics_url }}/js/sizeit.min.js"></script>
    <script language="JavaScript">
      sizeit.configure(
        {
          max: 993,
          css: "{{ statics_url }}/css/xs.css",
          name: "extra-small"
        },
        {
          css: "{{ statics_url }}/css/main.css",
          name: "large"
        }
      );
    </script>
    <script src="{{ statics_url }}/js/main.js"></script>
  </body>
</html>
