* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

ul, ol {
  margin-left: 25px;
}

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.header {
  width: 100%;
  height: 540px;
  background: url('../img/header.jpg') repeat-x top center rgba(223, 227, 212, 1);
}

.header > .wrapper {
  background: rgba(255, 255, 255, 1);
  height: 150px;
}

/* Simple header */
.header .simple .logo {
  position: relative;
  top: 18px;
  left: 20px;
  width: 280px;
  float: left;
}

.header .simple nav {
  float: right;
  position: relative;
  top: 15px;
  right: 1px;
}

.header .simple  nav ul {
  list-style: none;
}

.header .simple  nav ul li {
  padding: 0 25px 0 0;
  border-right: 5px solid rgba(82, 193, 233, 0);
  text-align: right;
}

.header .simple  nav ul li.active {
  border-right: 5px solid rgba(231, 62, 62, 1);
}

.header .simple  nav ul li a {
  line-height: 34px;
  color: rgba(38, 34, 98, 1);
  font-size: 18px;
}

/* Fixed header */
.header .fixed {
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background: url('../img/header_fixed_background.png') no-repeat center top rgba(255, 255, 255, 1);
}

.header .fixed .wrapper {
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
}

.header .fixed .wrapper .logo {
  float: left;
  position: relative;
  top: 16px;
  left: 20px;
}

.header .fixed .wrapper nav ul {
  float: right;
  margin: 8px 20px 0 0;
}

.header .fixed .wrapper nav ul li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.header .fixed .wrapper nav ul li.active {
  border-bottom: 5px solid rgba(231, 62, 62, 1);
}

.header .fixed .wrapper nav ul li a {
  line-height: 86px;
  font-size: 18px;
  color: rgba(38, 34, 98, 0.7);
}

.header .fixed .wrapper nav ul li a {
  text-decoration: none;
  color: rgba(38, 34, 98, 1);
}

/* Small header */
.header .wrapper.small.visible-sm.visible-xs {
  height: 300px;
}

.header .wrapper.small {
  position: absolute;
  top: 50px;
}

.header .wrapper.small .logo {
  padding: 20px;
  text-align: center;
}

.header .wrapper.small .logo img {
  width: 35%;
  height: 35%;
}

.header .wrapper.small nav {
  margin: 25px 0 0 0;
}

.header .wrapper.small nav ul {
  list-style: none;
  text-align: center;
}

.header .wrapper.small nav ul li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.header .wrapper.small nav ul li a {
  line-height: 30px;
  font-size: 14px;
}

article {
  min-height: 600px;
}

footer {
  height: 63px;
  line-height: 60px;
  background: url('../img/footer_background.png') repeat-x;
  color: rgba(255, 255, 255, 0.7);
}

footer .legal {
  margin: 0 0 0 10px;
  width: 500px;
  float: left;
}

footer .footer-navigation {
  display: none;
  margin: 0 10px 0 0;
  float: right;
  width: 640px;
  text-align: right;
}

footer .footer-navigation ul {
  list-style: none;
}

footer .footer-navigation ul li {
  display: inline-block;
  margin: 0 0 0 10px;
}

footer .footer-navigation ul li a {
  color: rgba(255, 255, 255, 0.6);
}

footer .footer-navigation ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}



